*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: rgb(31, 30, 30);
  font-family: sans-serif;
}

.heading {
  font-size: 50px;
  color: rgb(209, 18, 209);
}

.score {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.choice {
  height: 25vh;
  display: flex;
  justify-content: center;
}

.computer-hand {
  width: 250px;
}

.user-hand {
  width: 250px;
  transform: rotateY(180deg);
}

.button-div {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button {
  width: 150px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(209, 18, 209);
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  padding: 30px;
}